<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :pub_date %><br />
    <%= f.date_select :pub_date %>
  </div>
  <div class="field">
    <%= f.label :byline %><br />
    <%= f.text_field :byline %>
  </div>
  <div class="field">
    <%= f.label :headline %><br />
    <%= f.text_field :headline %>
  </div>
  <div class="field">
    <%= f.label :page %><br />
    <%= f.text_field :page %>
  </div>
  <div class="field">
    <%= f.label :src_url %><br />
    <%= f.text_field :src_url %>
  </div>
  <div class="field">
    <%= f.label :abstract %><br />
    <%= f.text_field :abstract %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="field">
    <%= f.label :total_pages %><br />
    <%= f.number_field :total_pages %>
  </div>
  <div class="field">
    <%= f.label :word_count %><br />
    <%= f.number_field :word_count %>
  </div>
  <div class="field">
    <%= f.label :src_url_md5 %><br />
    <%= f.text_field :src_url_md5 %>
  </div>
  <div class="field">
    <%= f.label :section %><br />
    <%= f.text_field :section %>
  </div>
  <div class="field">
    <%= f.label :queue_status %><br />
    <%= f.text_field :queue_status %>
  </div>
  <div class="field">
    <%= f.label :scan_src_url %><br />
    <%= f.text_field :scan_src_url %>
  </div>
  <div class="field">
    <%= f.label :scan_local_filename %><br />
    <%= f.text_field :scan_local_filename %>
  </div>
  <div class="field">
    <%= f.label :scan_file_url %><br />
    <%= f.text_field :scan_file_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
