<%= form_for @article, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Article</legend>

    <div class="control-group">
      <%= f.label :source, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :source, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :pub_date, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :pub_date, :class => 'date_select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :byline, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :byline, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :headline, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :headline, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :page, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :page, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :src_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :src_url, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :abstract, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :abstract, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :total_pages, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :total_pages, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :word_count, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :word_count, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :src_url_md5, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :src_url_md5, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :section, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :section, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :queue_status, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :queue_status, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :scan_src_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :scan_src_url, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :scan_local_filename, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :scan_local_filename, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :scan_file_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :scan_file_url, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :blacklist_tag, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :blacklist_tag, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :golden, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :golden, :class => 'check_box' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :sampletag, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :sampletag, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', articles_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
