<h1>Articles</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Source</th>
      <th>Headline</th>
      <th>Byline</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.pub_date %></td>
        <td><%= article.source %></td>
        <td><%= link_to article.headline, article_path(article) %></td>
        <td><%= article.byline %></td>
        <td>
          <%= link_to 'Edit', edit_article_path(article), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', article_path(article), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @articles %>

<!--
<%= link_to 'New', new_article_path, :class => 'btn btn-primary' %>
-->