
<div class="hero-unit">
	<h1>Here to Code Stories?</h1>
	<br />
	<p>
	You can use this website to answer questions about snippets of text.  Click one of these buttons to get started.
	</p>
	<p>
	<% @questions.each do |q| %>
		<a href="code/by_question/<%=q.id%>" class="btn btn-primary btn-large"><%=q.title%></a>
	<% end %>
	</p>
</div>

<br />
<br />
<br />

<h2>Articles</h2>
<ul>
	<li><%= link_to @article_count.to_s+" articles", articles_path %></li>
</ul>

<br />

<h2>Answer Summary</h2>
<ul>
	<li><%= @answer_count%> answers from <%=@answer_count_users%> users</li>
</ul>

<br />

<h2>Users</h2>

<ul>
<% @users.each do |user| %>
	<li><%=link_to user.username, user_path(user.id)%> ( <%=@user_answer_counts[user.id]%> answers )</li>
<% end %>
</ul>
