<h1>Coding Results</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Info</th>
      <th>Arts?</th>
      <th>Foreign?</th>
      <th>International?</th>
      <th>Local?</th>
      <th>National?</th>
      <th>Sports?</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td>
        	<b></b><%= link_to article.headline, article_path(article) %></b><br />
        	<%= article.pub_date %>, <%= article.byline %>, <%= article.source %>
        </td>
        <td><%= render :partial => 'answer_icons', :locals=> {:answers=>article.answers_by_type("arts")} %></td>
        <td><%= render :partial => 'answer_icons', :locals=> {:answers=>article.answers_by_type("foreign")} %></td>
        <td><%= render :partial => 'answer_icons', :locals=> {:answers=>article.answers_by_type("international")} %></td>
        <td><%= render :partial => 'answer_icons', :locals=> {:answers=>article.answers_by_type("local")} %></td>
        <td><%= render :partial => 'answer_icons', :locals=> {:answers=>article.answers_by_type("national")} %></td>
        <td><%= render :partial => 'answer_icons', :locals=> {:answers=>article.answers_by_type("sports")} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @articles %>

<!--
<%= link_to 'New', new_article_path, :class => 'btn btn-primary' %>
-->