
<%
agreement_css_classes = ['uwc-agreement']

if gold!=nil
	# mark any items that don't have gold set yet
	if gold.unanswered?
		agreement_css_classes << "uwc-agreement-missing "	
	else 
		agreement_css_classes << "uwc-agreement-made "
	end  
	# mark suspicious ones that you have gold for
	gold_was_forced = false
	has_above_threshold_answer = false
	(1..5).each do |possible_answer|
		has_above_threshold_answer = has_above_threshold_answer || (agreement_info[possible_answer] > 0.7)
	end
	if gold.answered? && !has_above_threshold_answer
		gold_was_forced = true 
	end 
	if gold.answered? && (gold.answer!=agreement_info[:likely_answer])
		gold_was_forced = true
	end
	agreement_css_classes << "uwc-agreement-forced " if gold_was_forced
end	
%>

<div class="<%=agreement_css_classes.join(" ")%>">

<%
if gold!=nil
	if gold.answer
	%>	<em class="answer_<%=gold.answer%>"><%=question.answer_text(gold.answer)%></em>
		<small><%=(agreement_info[gold.answer]*100).round.to_s + "%" if agreement_info[:count]>0%></small>
	<%		
	else 
	%>	<em>???</em>
	<%
	end
else
	# if no gold, and just one answer, show it
	%>
	<em class="answer_<%=agreement_info[:likely_answer]%>"><%=question.answer_text(agreement_info[:likely_answer])%></em>
	<%
end
%>

<div>
<%
not_confident = false
answers.each do |answer|
  username = username_map[answer.user_id] 
  tip = username
  tip = tip + " (" + answer.confidence.to_s + ")" if answer.has_confidence?
  not_confident = true if answer.not_confident?
%>    <a href="#" rel="tooltip" title="<%=tip%>"><span class="answer_<%=answer.answer%>">&bull;</span></a> <%
end
%>
</div>

<% if not_confident %> 
   <span class="label label-warning">Low Confidence</span>
<% end %>

<% if gold_was_forced %>
	<span class="label label-important">Forced Gold</span>
<% end %>

<% if gold!=nil %>

	<%= form_for gold, :remote=>true do |f| %>
	  <%= f.select :answer, question.answer_list %>
	  <br />
	  <small><%=link_to "Edit Gold", edit_gold_path(gold)%></small>
	<% end %>
	
<%
end
%>


</div>
