
<%
extra_css = ""
# mark any items that don't have gold set yet
if gold.unanswered?
	extra_css << "uwc-agreement-missing "	
else 
	extra_css << "uwc-agreement-made "
end  
# mark suspicious ones that you have gold for
if gold.answered? && !(agreement_info[:yes] > 0.7 || agreement_info[:no] > 0.7)
	extra_css << "uwc-agreement-forced " 
end 

%>

<div class="uwc-agreement <%=extra_css%>">
<%
if gold.answer==true
%>	<em>Yes</em> <small><%=(agreement_info[:yes]*100).round(2)%>%</small>
<%
elsif gold.answer==false
%>
	<em>No</em> <small><%=(agreement_info[:no]*100).round(2)%>%</small>
<%
else 
%>
	<em>???</em> <small><%=agreement_info[:yes]*100%> / <%=agreement_info[:no]*100%>%</small>
<%
end
%>

<div>
<%
answers.each do |answer|
  username = username_map[answer.user_id] 
  if answer.answer
  	image = "green-dot.png"
  else
  	image = "red-dot.png"
  end
%>
    <a href="#" rel="tooltip" title="<%=username%>"><%=image_tag image, :alt=>answer.user_id.to_s %></a>
<%
end
%>
</div>

<%= form_for gold, :remote=>true do |f| %>
  <%= f.check_box :answer %>
<% end %>

</div>
