<h1>Coding Results</h1>
<p>
Showing answers for <%= (@selected_users.collect {|u| u.username} ).join(", ") %>.
<b>Disagreement on <%=@disagreement_count%> article (<%=(@disagreement_count.to_f/@articles.count.to_f).round(2) %>%). 
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Info</th>
<% @answer_types.each do |answer_type| %>
      <th style="text-align:center;"><%=answer_type.capitalize%>?</th>      
<% end %>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td>
        	<b></b><%= link_to article.headline, article_path(article) %></b><br />
        	<%= article.pub_date %>, <%= article.byline %>, <%= article.source %>
        </td>
<% @answer_types.each do |answer_type| %>
        <td><%= render :partial => 'answer_icons', :locals=> {
        			:agreement_info=>@agreement_by_article[article.id][answer_type],
        			:answers=>article.answers_by_type(answer_type)} %>
        </td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
