
<h1>Review Answers / Generate Golds</h1>

<br />

<!-- this has to be a get so that the pagination of results works -->
<%= form_tag("/answers/for_users", :method => "post", :class=>'form-vertical') do %>

<fieldset>
		<legend>Pick a Sample Set of Articles</legend>
	<% @all_sampletags.each do |tag,article_count| %>
		<div class="control-group">
			<%= label('tag','name', radio_button('tag','name',tag)+tag+" ("+article_count.to_s+" articles)" , :class=>"radio")%>
		</div>
	<% end %>
</fieldset>

<%= render :partial=>'articles/pick_question_types_field' %>

<%= render :partial=>'answers/pick_users_field' %>

<fieldset>
	<legend>Options</legend>
	<div class="control-group">
		<%= label_tag("generate_golds", check_box_tag('generate_golds') + "Generate Golds", :class=>"checkbox") %>
	</div>
	<div class="control-group">
		<%= label_tag("not_confident", check_box_tag('not_confident') + "Show only not-confident answers", :class=>"checkbox") %>
	</div>
</fieldset>

<div class="form-actions">
  <%= submit_tag("Review Answers",:class=>"btn btn-primary") %>
</div>
  
<% end %>

