
<h1><%=@question.title%> Golds: <%=@sampletags.join(", ")%></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Article Info</th>
      <th>Gold Answer</th>
      <th>Gold Reason</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| 
    	gold_answer_text = ""
    	answer_css = ""
    	gold = nil
    	gold = article.gold_for_question(@question.id) if article.has_gold_for_question? @question.id 
    	if gold
			gold_answer_text = gold.yes?.to_s
			answer_css = "uwc-gold-answer-"+gold_answer_text
		end
    %>
      <tr>
        <td>
        	<b><%= link_to article.headline, article_path(article) %></b><br />
        	<%= article.pub_date %>, <%= article.byline %>, <%= article.source %>
		</td>
        <td><div class="uwc-gold-answer <%=answer_css%>">
        	<% if gold %>
	        	<%= link_to gold_answer_text, edit_gold_path(gold) %>
        	<% end %>
       	</div></td>
        <td>
        	<% if gold %>
        		<%= render :partial => 'gold_reason', :locals=> { :gold=>gold } %>
        	<% end %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>
