
<h1><%=@answer_type.capitalize%> Golds: <%=@sampletag%></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Article Info</th>
      <th>Gold Answer</th>
      <th>Gold Reason</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| 
    	gold_answer = ""
    	answer_css = ""
    	if article.has_gold_by_type(@answer_type)
			gold_answer = article.gold_by_type(@answer_type).yes?.to_s
			answer_css = "uwc-gold-answer-"+gold_answer
		end
    %>
      <tr>
        <td>
        	<b><%= link_to article.headline, article_path(article) %></b><br />
        	<%= article.pub_date %>, <%= article.byline %>, <%= article.source %>
		</td>
        <td><div class="uwc-gold-answer <%=answer_css%>"><%= gold_answer %></div></td>
        <td>
        	<% if article.has_gold_by_type(@answer_type) 
        		g = article.gold_by_type(@answer_type) 
        	%>
        		<%= render :partial => 'gold_reason', :locals=> { :gold=>g } %>
        	<% end %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
//<![CDATA[

// TODO: write script that updates reason TD area with response of ajax post

//]]>
</script>