<h1>Total By Source/Year</h1>

<% if @show_results %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Source</th>
      <th>Year</th>
      <th>Total Articles</th>
	  <% @all_answer_types.each do |type| %>
	  <th><%= type.capitalize %></th>
	  <% end %>
	  <% @all_genders.each do |gender| %>
	  <th><%= Article.gender_name gender %></th>
	  <% end %>
    </tr>
  </thead>
  <tbody>
    <% @all_sources.each do |source| %>
      <% @all_years.each do |year| %>
	      <tr>
	        <td><%= source %></td>
	        <td><%= year %></td>
	        <td><%= @total_articles[source][year] %></td>
	      <% @all_answer_types.each do |type| %>
	      	<td><%= @yes_by_type_source_year[type][source][year] %></td>
	      <% end %>
		  <% @all_genders.each do |gender| %>
		    <td><%= @gender_by_source_year[gender][source][year] %></td>
		  <% end %>
	      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% else %>

	<%= form_tag("/golds/export_totals.csv", :method => "post", :class=>'form-vertical') do %>
	
	<%= render :partial=>'articles/pick_sampletags_field' %>
	
	<div class="form-actions">
	  <%= submit_tag("Download CSV of totals",:class=>"btn btn-primary") %>
	</div>
	  
	<% end %>

<% end %>