<h1><%=t 'scraper.dashboard'%></h1>

<h2><%=t 'scraper.count_by_status'%></h2>
<ul>
<% @count_by_status.each_pair do |k,v| %>
  <li><em><%=k%>:</em> <%=v%>
<% end%>
</ul>

<h2><%=t 'scraper.count_by_source'%></h2>
<ul>
<% @count_by_source.each_pair do |k,v| %>
  <li><em><%=k%>:</em> <%=v%>
<% end%>
</ul>

<h2><%=t 'scraper.count_by_date'%></h2>
<ul>
<% @count_by_date.each_pair do |k,v| %>
  <li><em><%=k%>:</em> <%=v%>
<% end%>
</ul>

