<div class="row"> 
  <div class="well"<%if !@article.nil? %> id="<%=@article.id=%>"<%end%>>

<% if @article.nil? %>
  
    <div style="color:red; font-weight:bold;">No uncoded articles remaining</div>
    
<% else %>

    <div style="padding:5px; border:1px solid #ccc; display:inline-block; float:right;"><%= @user.find_answers_by_type(@answer_type).size%></div>
    <h2><%= @article.headline =%></h2>
    <em><%= @article.source =%> - <%= @article.pub_date.year.to_s =%></em>
    <hr/>
    <p>
    <% if !@article.abstract.nil? %>
      <%= @article.abstract =%>
    <% end %>
    <% if !@article.scan_local_filename.nil? %>
      <%= link_to "Read PDF for detail", "/article_scans/" + @article.source.downcase.gsub(" ","_") + "/" + @article.pub_date.year.to_s + "/" + @article.pub_date.month.to_s + "/" + @article.pub_date.day.to_s + "/" + @article.scan_local_filename %>
    <% end %>
    </p>
<% end %>

  </div>
</div>
